python-dotenv
tavily-python
duckduckgo_search
beautifulsoup4
openai
langgraph
langchain_core
langchain_openai
langchain-community
langchain
aiosqlite
pygments
pygraphviz
gradio
llama-index
llama-index-llms-openai
llama-index-embeddings-openai